@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="orange"] {
  --primary: #E67E22;
  --primary-dark: #d35400;
  --primary-light: #f39c12;
  --surface: #2C3E50;
  --bg: #ECF0F1;
  --row-bg: #fff7ed;
  /* orange-50  */
  --row-border: #ffedd5;
  /* orange-100 */
  --row-hover: #fed7aa;
  /* orange-200 */
}